.todos {
    padding-top: 60px;
    padding-bottom: 60px;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.add-btn {
    margin: 20px auto;
    padding: 10px;
    background-color: #2196f3;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}